/* common */
:root {
  --toastify-toast-min-height: 48px !important;
  --toastify-font-family: 'M PLUS 1p' !important;
  --toastify-color-success: #F7FCF5 !important;
  --toastify-color-error: #FEF8F8 !important;
}

.Toastify__toast {
  margin: 9px 16px !important;
  border-radius: 16px !important;
  padding: 0 !important;
  box-shadow: none !important;
}

.Toastify__toast-body > div:last-child {
  margin-left: 10px;
}

.Toastify__toast-body {
  font-size: 15px;
  line-height: 20px;
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
  font-weight: 500;
  margin-left: 1rem !important;
}

/* Error */
.Toastify__toast--error {
  border: 2px solid #f56c6c;
  background: linear-gradient(
      0deg,
      rgba(245, 108, 108, 0.05),
      rgba(245, 108, 108, 0.05)
    ),
    #ffffff !important;
}

.Toastify__toast-icon {
  display: none;
}

.Toastify__toast--error::before {
  content: url('/images/error.svg') !important;
  width: 28px;
  height: 28px;
  position: absolute;
  z-index: 100000;
  left: 15px;
  top: 8px;
}
.Toastify__toast--error > .Toastify__toast-body {
  color: #f56c6c;
}

/* Success */
.Toastify__toast--success {
  border: 2px solid #67c23a;
  background: linear-gradient(
      0deg,
      rgba(103, 194, 58, 0.05),
      rgba(103, 194, 58, 0.05)
    ),
    #ffffff !important;
}
.Toastify__toast--success::before {
  content: url('/images/success.svg') !important;
  width: 28px;
  height: 28px;
  position: absolute;
  z-index: 100000;
  left: 15px;
  top: 8px;
}

.Toastify__toast--success > .Toastify__toast-body {
  color: #67c23a;
}
